*{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    flex-direction: row;
    display: inline-flex;
    justify-content: space-between;
    align-items:center;
    position: fixed;
 

}

.logo{
    width: 300px;
    padding-left: 20px;
}

.nav-bar a li{
    display: inline-block;
    margin: 2px;
    padding-right: 100px;
}

.message{
    position: absolute;
    top: 120px;
    font-size:30px;
    margin: 60px 60px;
}

.pic img{
    position: absolute;
    top: 320px;
    height: 350px;
    width: 500px;
    left: 350px;
}

.hm {
    margin: 60px 60px;
    position: absolute;
    top: 400px;
    font-size: 28px;
}
footer {
    position: absolute;
    top: 700px;
    background-color: #333;
    color: #fff;
    text-align: center;
    height: 40px;
    width: 100%;
}

h2 {
    left: 680px;
    font-size: 44px;
    position: absolute;
    top: 90px;
}

.pad {
    position: absolute;
    top: 130px;
    font-size: 24px;
    margin: 40px 40px;
}

.course {
    margin-bottom: 1em;
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 1em;
    background-color: #fff;
    position: absolute;
    top: 150px;
    font-size: 24px;
}

.course1 {
    margin-bottom: 1em;
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 1em;
    background-color: #fff;
    position: absolute;
    top: 520px;
    font-size: 24px;
}

.course:hover {
    background-color: #f9f9f9;
}

.course-details {
    display: none;
    padding: 1em;
    border: 1px solid #ddd;
    margin-top: 0.5em;
}